@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Lato', sans-serif;
    padding: 150px 20px 0;
}
/* Header section */
.bg_header{
    background-color: rgb(29, 27, 54);
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}
.info_header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.info_header img{
    width: 250px;
}
.text_white{
    text-align: center;
    color: #fff;
}

.nav_menu{
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 50px 100px;
    text-align: center;
}

.nav-items{
    flex: 1;
    width: 100px;
    height: 40px;
    transition: all .5s ease;
}
.nav{
    max-width: 992px;
    margin: 0 auto;
}
.nav-items:hover{
    flex: 1.1;
    transition: all .5s ease;
    background: #332b77;
    cursor: pointer;
}
.nav_menu a{
    display: block;
    position: relative;
    text-decoration: none;
    color: white;
    padding: 10px;
}

.toggle-button{
    position: absolute;
    background: none;
    border: none;
    top: 4.58rem;
    right: 3rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-button i{
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
}


@media screen and (max-width: 768px) {
    .toggle-button{
        display: block;
    }
    .bg_header{
        height: 150px;
        justify-content: center;
        align-items: center;
    }
    .nav_menu {
        flex-direction: column;
        align-items: center;
        margin-right: 0;
        background-color: rgb(29, 27, 54);
        position: fixed;
        left: 0;
        top: 150px;
        width: 100%;
        padding: 20px 0;
        height: calc(100% - 150px);
        overflow-y: auto;
        left: 100%;
   

    }
    .nav-items{
        width: 100px;
        transition: none;
    }
    .nav_menu li{
        margin: 0 ;
        line-height: 30px;
    }
    .nav_menu li:hover{
        background: none;
    }

    .nav_menu_visible{
        left: 0;
       
    }
    .nav_menu_no_visible{
        left: 100%;
       
    }
    .toggle-button:focus:not(:focus-visuble){
        outline: none;
    }
}


/* @media screen and (max-width: 858px) and (orientation: landscape) {
    .nav_menu li{
        margin: 5px 0 0 0;
    }
    .nav_menu{
        overflow: scroll;
        height: calc(100% - 150px);
    }
} */
/* Header section */


.about_me{
    margin-top: 30px;
}
.about_me h2{
    font-size: 50px;
}
.about_me h3{
    font-size: 25px;
}
.about_me p{
    margin-top: 10px;
    font-size: 15px;
    text-align: justify;
}
.resume{
    background-color: #F0D43C;
    border: 1px solid #F0D43C;
    border-radius: 20px;
    color: #231E39;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px 12.5px;
    cursor: pointer;
}
.github{
    background-color: transparent;
    border: 1px solid #F0D43C;
    border-radius: 20px;
    color: #F0D43C;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    padding: 5px 12.5px;
    cursor: pointer;
}


.card_container{
    background: linear-gradient(0deg, rgba(29,27,54,1) 0%, rgba(57,53,102,1) 72%, rgba(105,98,181,1) 100%);
    border-radius: 5px;
    box-shadow: 0 10px 20px -10px rgba(0,0,0, 0.75);
    color: #fff;
    padding-top: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    position: inherit   ;
    width: 350px;
    max-width: 100%;
    text-align: center;
}

.card_container img{
    border: 1px solid #F0D43C;
    border-radius: 50%;
    padding: 7px;
}
.card_container h3{
    margin: 10px 0;
}
.card_container h6{
    margin: 5px 0;
    text-transform: uppercase;
}
.card_container p{
    font-size: 14px;
    line-height: 21px;
}

.btn_primary{
    background-color: #F0D43C;
    border: 1px solid #F0D43C;
    border-radius: 3px;
    color: #231E39;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    padding: 5px 12.5px;
    cursor: pointer;
}
.btn_primary_o{
    background-color: transparent;
    border: 1px solid #F0D43C;
    border-radius: 3px;
    color: #F0D43C;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    padding: 5px 12.5px;
    cursor: pointer;
}

.skills{
    background-color: #1F1A36;
    border-radius: 5px;
    text-align: left;
    padding: 15px;
    margin-top: 30px;
}
.skills ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.skills ul li{
    border: 1px solid #2D2747;
    border-radius: 2px;
    display: inline-block;
    font-size: 10px;
    margin: 0 7px 8px 7px;
    padding: 7px;
}

.container_aboutMe{
    display: grid;
    grid-template-columns: 50% 300px;
    grid-column-gap: 100px;
    grid-template-rows: 100%;
    justify-content: center;
}

@media screen and (max-width: 768px){
    .container_aboutMe{
        grid-template-columns: 100%;
        grid-template-rows: 35%;
    }
    .grid_card{
        display: flex;
        justify-content: center ;
    }
    .about_me{
        padding: 0 20px;
    }
    .about_me h2{
        text-align: center;
    }
    .about_me h3{
        text-align: center;
    }
    
}

